@use '../_colours' as *;

/**
* This file is used to export variables to be used inside react components.
* Feel free to add your own variables here but be cautious if you are modifying
* existing ones.
*/

:export {
  error: $col-error;
  warning: $col-warning;
  success: $col-success;
  info: $col-info;
}
