$col-sealed: hsl(98, 100%, 28%);

.box-preview {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 3fr 1fr;
  background-color: $col-main-panel-bg;
  border-radius: $border-radius-lg;
  box-shadow: $drop-shadow;
  width: 250px;
  overflow: hidden;
  aspect-ratio: 1;
  &.sealed {
    background-color: rgba($col-sealed, 0.2);
  }
  &.selected {
    filter: brightness(0.9) saturate(1.5);
    border: 2px solid $col-grey-500;
  }
  &:not(.dragging):hover {
    @include animations.wobble($amount: .25deg);
    cursor: pointer;
    filter: brightness(0.95);
  }
  &.droppable:hover {
    cursor: move;
  }
  &.not-droppable:hover {
    cursor: not-allowed;
  }
  &.dragging {
    filter: saturate(.2);
    box-shadow: inset 0 0 1rem $col-grey-500;
    border: 2px dashed $col-grey-500;
  }
}

.shippable-banner, .selected-banner {
  display: block;
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: .3rem 2rem;
  margin-top: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  width: 110%;
}

.shippable-banner {
  background-color: $col-sealed;
}

.selected-banner {
  background-color: $col-grey-500;
}

.drag-ghost {
  filter: drop-shadow(1rem 1rem 1rem $col-grey-400);
  transform: scale(.8);
}

.header {
  padding: padding(1);
}

.box-number {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.box-location {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}

.box-items {
  padding: 1rem;
  li {
    margin-bottom: margin(.5);
  }
}

.footer {
  height: 100%;
  display: grid;
  grid-template-rows: 10px 1fr;
}

.fill-bar {
  height: 100%;
  background-color: $col-grey-600;
  border-top-right-radius: $border-radius;
  transition: all 0.8s ease-in-out;
}

.box-items-count {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #000;
  color: white;
  padding-left: padding(1);
}

$colours: (
orange: $col-orange,
blue: $col-blue,
turquoise: $col-turquoise,
red: $col-red,
pink: $col-pink,
indigo: $col-indigo,
purple: $col-purple,
green: $col-green,
brown: $col-brown,
hotpink: $col-hotpink
);

@each $name, $colour in $colours {
  .colour-choice-#{$name} {
    .box-location {
      color: #{$colour};
    }
    .box-items-count {
      background-color: #{$colour};
    }
    &.selected {
      border: 2px solid #{$colour};
      background-color: rgba($colour, 0.2);
    }
    .selected-banner {
      background-color: #{$colour};
    }
  }
}
