@use '../vars' as *;
@use 'statuses' as *;
@use 'focus' as *;

@mixin base-input() {
  @include statuses('border');
  @include statuses('focus');
  @include fs-body-text();
  @include fs-input();

  background-color: $col-input-bg;
  border: 1px solid $col-input-border;
  border-radius: $border-radius;
  color: $col-input-text;
  height: 30px;
  width: 100%;
  margin: 0;
  outline: 0;
  padding: padding(0.5);
  transition: box-shadow 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);

  &.disabled,
  &:disabled {
    border-color: $col-border;
    box-shadow: none;
    color: $col-disabled-input-text;
  }

  .read-only,
  &:read-only:is(textarea, input[type='text'], input[type='password']) {
    border-color: $col-border;
    box-shadow: none;
    color: $col-disabled-input-text;
    cursor: not-allowed;
  }

  &:focus {
    border-color: $col-input-border-focus;
    background-color: $col-input-focus-bg;
  }
}

@mixin base-input-label() {
  @include fs-input-label();

  color: $col-label-text;
  margin-bottom: margin(1);
}

@mixin checkbox-input() {
  display: inline-block;
  margin-right: margin(1);
}
