@use '../vars' as *;

@mixin link() {
  @include fs-link();

  color: $col-link;
  cursor: pointer;
  padding: padding(0.5);
  text-decoration: none;
  transition: color 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 2px 0 -1px;
  }

  &:focus {
    background-color: $col-link-focus-bg;
    color: $col-light;
  }

  &:disabled {
    background-color: transparent;
    color: $col-link-disabled;
  }
}
