@use '../vars' as *;

@mixin statuses($type, $child: '') {
  @each $status, $color in $col-statuses {
    &.status-#{$status} #{unquote($child)} {
      @if $type == 'border' {
        border-color: $color;
      }

      @if $type == 'color' or $type == 'colour' {
        color: $color;
      }

      @if $type == 'background' {
        background-color: $color;
      }
      // Use this if you want the element to have a hover state
      @if $type == 'border-hover' {
        border-color: $color;

        &:hover {
          @if lightness($color) > 50 {
            border-color: darken($color, 10%);
          } @else {
            border-color: lighten($color, 10%);
          }

          border-color: $color;
        }
      }

      @if $type == 'color-hover' or $type == 'colour-hover' {
        color: $color;

        &:hover {
          @if lightness($color) > 50 {
            color: darken($color, 10%);
          } @else {
            color: lighten($color, 10%);
          }
        }
      }

      @if $type == 'background-hover' {
        background-color: $color;

        &:hover {
          @if lightness($color) > 50 {
            background-color: darken($color, 10%);
          } @else {
            background-color: lighten($color, 10%);
          }
        }
      }

      /** Quite a specific use case where you want the border to lighten/darken
      /* on hover but you also want a subtle light background colour as well
      /*/
      @if $type == 'background-border-hover' {
        border-color: $color;

        &:hover {
          background-color: lighten($color, 45%);

          @if lightness($color) > 50 {
            border-color: darken($color, 10%);
          } @else {
            border-color: lighten($color, 10%);
          }
        }
      }

      @if $type == 'focus' {
        &:focus {
          box-shadow: 0 0 2px 2px $col-background,
            0 0 2px 3px lighten($color, 10%);
        }
      }
    }
  }
}
