.label {
  @include utils.base-input-label();

  color: $col-label-text;
  margin-bottom: margin(1);
  position: relative;
}

.large {
  font-size: $fs-body-text;
}

.asterisk {
  @include fs-body-text();

  color: $col-danger;
  font-weight: bold;
  left: -#{spacing(1.5)};
  position: absolute;
  top: -#{spacing(0.2)};
}
