.wrapper {
  background: $col-main-panel-bg;
  border: 1px solid $col-input-border;
  border-radius: $border-radius;
  height: 60px;
  padding: padding(3);
  position: relative;

  &:hover {
    background-color: darken($col-main-panel-bg, 10%);
    border-color: lighten($col-input-border, 10%);
  }
}

.icon,
.input {
  position: absolute;
}

.input {
  height: 100%;
  left: 0;
  opacity: 0;
  top: 0;
  width: 100%;

  &::file-selector-button {
    cursor: pointer;
    height: 100%;
    width: 100%;
  }
}

.icon {
  height: 30px !important;
  left: calc(50% - 15px);
  top: 15px;
  width: 30px !important;
}

.disabled {
  .icon {
    opacity: 0.5;
  }

  .input {
    pointer-events: none;
  }
}
