.authentication {
  padding: 4rem 0;
  width: 90vw;

  @include mq($bp-small) {
    aspect-ratio: 1/1;
  }

  @include mq($bp-medium) {
    width: 500px;
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  justify-self: center;
  width: 70%;
}

.logo {
  display: block;
  width: 60px;
  height: 60px;
  margin-top: margin(1);
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: spacing(3);
  margin-top: spacing(2);
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  justify-items: center;
  row-gap: spacing(2);
  width: 100%;
}

.error-message {
  color: $col-danger;
  margin-top: -#{spacing(2)};
}

.main-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: spacing(1);
  justify-items: stretch;
}
