.badge {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  padding: 0.75rem 1rem;
  font-size: 1.2rem;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.5rem;
  background-color: #6699cc;
  color: #fff;
  margin-top: 1rem;
}

.badge strong {
  font-weight: 700;
}

.tip-tip,
.tip-note,
.tip-warning,
.tip-danger {
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-gap: 1rem;
  align-items: center;
  background-color: #f7f7f7;
  font-size: 1.4rem;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.tip-bubble {
  color: #fff;
  display: grid;
  align-content: center;
  height: 100%;
  font-size: 14px;
  font-family: 'Arial Black', Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1;
  padding: 12px 8px;
  text-align: center;
}

.tip-tip {
  border-bottom: 2px solid #00703c;
}

.tip-tip .tip-bubble {
  background: #00703c;
}

.tip-note {
  border-bottom: 2px solid #008db8;
}

.tip-note .tip-bubble {
  background: #008db8;
}

.tip-warning {
  border-bottom: 2px solid #ffc105;
}

.tip-warning .tip-bubble {
  background: #ffc105;
  color: #564100;
}

.tip-danger {
  border-bottom: 2px solid #d4341c;
}

.tip-danger .tip-bubble {
  background: #d4341c;
}

.tip-tip code,
.tip-note code,
.tip-warning code,
.tip-danger code {
  display: inline-block;
  font-size: 12px;
}

.tip-text {
  display: block;
  padding: 1rem;
}

.title {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 2rem;
  align-items: center;
}

.tip-badge {
  margin-top: 0;
  padding: 0.5rem 0.8rem;
}

.title h1 {
  font-size: 4rem;
  margin: 0;
  line-height: 1;
}
