.sortable-th {
  padding-right: padding(1.5);
}

.sort-arrow {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0.5rem;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out !important;

  &::after {
    content: '▾';
  }
}

.dir-asc {
  transform: rotate(180deg);
}
