.site-card-filter {
  padding: 1rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: spacing(3);
}

.select-view {
  justify-self: start;
}

.refine-results {
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: spacing(2);
}
