.avatar {
  aspect-ratio: 1 / 1;
  background-color: $col-background;
  border-radius: 50%;
  border: 2px solid $col-grey-700;
  height: 100%;
  overflow: hidden;

  .image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .initials {
    background-color: $col-primary;
    height: 100%;
    width: 100%;
  }

  svg {
    height: 100%;
    width: 100%;
  }

  text {
    dominant-baseline: middle;
    fill: $col-light;
    font-weight: bold;
    text-anchor: middle;
  }
}
