.user-menu {
  position: relative;
  display: grid;
  grid-template-columns: 20px 50px;
  align-items: center;
  gap: spacing(1);
  padding: padding(.5);
  cursor: pointer;
  &:hover {
    background: rgba($col-dark, 0.3);
  }
}

.menu {
  position: absolute;
  top: 60px;
  right: 0;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: spacing(.5);
  justify-items: end;
}
