* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  display: block;
  margin: 2rem;
  font-size: 4rem;
}
h1 img {
  vertical-align: middle;
  width: 100px;
  margin-right: 2rem;
}
form {
  padding: 2rem;
  margin: 0 1rem;
  background: #87ceeb;
}
@media only screen and (min-width: 600px) {
  form {
    position: fixed;
    top: 1rem;
    right: 0;
    width: 30%;
  }
}
label {
  font-weight: bold;
  font-size: 1.5rem;
  display: block;
  margin-bottom: 1rem;
}
input,
textarea,
select {
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 0;
}
input[name="number"] {
  width: 100px;
}
select,
textarea {
  width: 100%;
}
textarea {
  height: 300px;
}
.next-box {
  display: inline-block;
  margin-left: 1rem;
}
button {
  background: #69c;
  color: #fff;
  padding: 1rem;
  margin-left: 1rem;
  border: 0;
  border-radius: 0;
  font-size: 1.5rem;
  font-weight: bold;
}
button:hover {
  background: #41709e;
}
.input-container {
  overflow: hidden;
  padding: 1rem;
}
.input-container:first-of-type,
.input-container:nth-of-type(2) {
  float: left;
}
.input-container:nth-of-type(3) {
  clear: both;
}
ul {
  width: 100%;
  list-style: none;
  padding: 0 1rem;
}
ul ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0.5rem;
  margin-bottom: 1rem;
  overflow: hidden;
  border: 1px dotted #d3d3d3;
}
ul ul li {
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  background: #add8e6;
  text-transform: capitalize;
}
.box {
  position: relative;
  padding: 1rem;
  border: 1px solid;
  border-left: 8px solid;
  font-size: 1.4rem;
  margin: 0.5%;
}
.box button {
  font-size: 1.3rem;
  margin-left: 0;
  margin-right: 1rem;
}
@media only screen and (min-width: 600px) {
  .box {
    width: 68%;
  }
}
.box.to-kitchen {
  border-color: #e9da01;
}
.box.to-kitchen .destination {
  background-color: #e9da01;
}
.box.to-living-room {
  border-color: #a6d400;
}
.box.to-living-room .destination {
  background-color: #a6d400;
}
.box.to-box-room {
  border-color: #157435;
  color: #fff;
}
.box.to-box-room .destination {
  background-color: #157435;
}
.box.to-main-bedroom {
  border-color: #f00;
  color: #fff;
}
.box.to-main-bedroom .destination {
  background-color: #f00;
}
.box.to-guest-bedroom {
  border-color: #e47ef1;
}
.box.to-guest-bedroom .destination {
  background-color: #e47ef1;
}
.box.to-kids-bedroom {
  border-color: #791b71;
  color: #fff;
}
.box.to-kids-bedroom .destination {
  background-color: #791b71;
}
.box.to-office {
  border-color: #008ab4;
  color: #fff;
}
.box.to-office .destination {
  background-color: #008ab4;
}
.box.to-bathroom {
  border-color: #00ffb3;
  color: #fff;
}
.box.to-bathroom .destination {
  background-color: #00ffb3;
}
.destination {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  color: #fff;
}
h2 {
  margin: 0 0 1rem 0;
}
/* FIXME: All order-and-filter items are 'it will do for now' styles */
.order-and-filter {
  overflow: hidden;
  margin: 1rem;
  padding: 1rem;
  background: #f0f0f0;
}
@media only screen and (min-width: 600px) {
  .order-and-filter {
    width: 67%;
    margin: 0;
    margin-left: 1.5rem;
  }
}
.order-and-filter label {
  float: left;
  display: block;
  margin: 1rem;
}
.order-and-filter select {
  float: right;
  width: 65%;
}
.order-and-filter select,
.order-and-filter input {
  margin-left: 1rem;
}
