@mixin striped($type) {
  @include mq($bp-medium) {
    &.striped tr td {
      background-color: $col-table-bg;
      border-bottom: 0;
    }
    &.striped tr:nth-child(#{$type}) td {
      background-color: $col-table-stripe-bg;
    }
  }
}

.table {
  @include utils.base-table();
  @include striped(odd);

  &.solid-header {
    @include striped(even);

    th {
      background-color: $col-table-header-bg;
      color: $col-table-header-text;
    }
  }

  &.full-width {
    width: 100%;
  }
}
