/**
 Establishes a set of global styles that are used throughout the application.
*/

@use 'vars' as *;

::selection {
  /* Code for Firefox */
  background: $col-primary;
  color: $col-light;
}

body {
  @include fs-body-text();

  background: $col-background;
  color: $col-body-text;

  p:not(:last-child) {
    margin-bottom: $paragraph-spacing;
  }
}

// Makes application full height.
/* stylelint-disable selector-max-id --  ID used to target root next element */
#__next {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}
/* stylelint-enable selector-max-id */

main {
  padding: padding(2);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: NunitoBold, sans-serif;
    margin-bottom: margin(1);
  }

  a {
    color: $col-primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
